.modal-dialog{
    margin-top: 10%;
    width: 450px;
}
.inline-block{
    display: inline-block;
}
.review-content-wrapp{
    max-width: 85%;
    width: 100%;
}
.review-circle-wrapp{
    vertical-align: top;
    margin-top: 10px;
}
.modal-backdrop{
    background-color: transparent;
}
.rating-modal{
    cursor: pointer;
}
.company-modal-wrapper img{
    width: 150px;
    vertical-align: top;
}
.modal-company-wrapp{
    margin-left: 40px;
}
.modal-company-name{
    display: inline-block;
    font-size: 21px;
}
.modal-reviews-wrapper{
    margin:auto;
    width:20%;
}
.modal-reviews{
    color: #e7711b;
    font-size: 30px;
}
.modal-reviews, .modal-total-review{
    text-align: center;
}
.morecontent span {
    display: none;
}
.morelink {
    display: inline;
}
[data-letters]:before{
    content:attr(data-letters);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    margin-right:1em;
    color:white;
}
ul.pagination{
    text-align: center;
}
ul.pagination li{
    display: inline-block;
}
.modal-content ul.pagination li.active a{
    background-color: #4AD488;
    color: white;
}
ul.pagination li a{
    color: black;
}
@media (max-width: 992px)
{
    .tt-header .top-inner
    {
        position: relative;
        float: left;
        padding: 10px 0;
    }
}
.tt-header .nav-more{
    padding-top: 20px;
    margin-left: 17px;
}
.c-btn.type-2 span, .c-btn.type-2 input {
    color: #F7038E;
}
.c-btn.type-2 span, .c-btn.type-2 input {
    display: inline-block;
    padding: 8px 29px 7px 29px;
}
.c-btn.type-2 {color: #F7038E;border: 2px solid #F7038E;line-height: 25px;font-size:18px;}
.c-btn.type-2:before {background: #F7038E;}
.c-btn.type-2:after {background: #F7038E;}
.c-btn.type-2:hover {color: green;border: 2px solid green;}
.c-btn.type-2 span, .c-btn.type-2 input {color: #F7038E;}
.c-btn.type-2::before{background: none;-webkit-transition: none;-moz-transition: none;transition: none;}
.c-btn.type-2::after{background: none;-webkit-transition: none;-moz-transition:none;transition: none;}
.c-btn.type-1{border: 1px solid #88c06b;border: 0.08333rem solid transparent;    font-size: 20px;}

.tt-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 1px 2px 0px #eaeaea;
    -moz-box-shadow: 0px 1px 2px 0px #eaeaea;
    box-shadow: 0px 1px 2px 0px #eaeaea;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 101;
}
.has-error-border{
    border: 1px solid red !important;
}
.has-special-offer{
    border: 2px solid yellow;
}
@media (min-width: 992px)
{
    .tt-header .top-inner {
        position: relative;
        float: left;
        padding: 10px 0;
    }
}
.tt-header .cmn-toggle-switch {
    display: none;
    position: relative;
    float: right;
    margin-top: 30px;
    padding: 0;
    width: 30px;
    height: 17px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 101;
}
.tt-header .cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    height: 3px;
    background: #949494;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.vdp-datepicker__calendar .cell, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year,
.vdp-datepicker__calendar header span,
div .vdp-datepicker__calendar .cell.day-header{
    font-family: 'Roboto';
    font-size: 14px;
}
div .vdp-datepicker__calendar .cell.day-header{
    font-size: 11.5px;
}
@media (min-width: 992px)
{
    .tt-header .toggle-block {
        display: block!important;
        float: right;
    }
}

@media (min-width: 992px)
{
    .tt-header .main-nav {
        display: inline-block;
        vertical-align: top;
    }
}



/*-------------------------------------------------------------------------------------------------------------------------------*/


/* 05 - TT-HEADER */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.bg-1 {
    background-color: #e6efee;
}

.tt-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 1px 2px 0px #eaeaea;
    -moz-box-shadow: 0px 1px 2px 0px #eaeaea;
    box-shadow: 0px 1px 2px 0px #eaeaea;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 101;
}

.tt-header ul {
    padding-left: 0;
}

.tt-header .logo {
    display: inline-block;
    position: relative;
    width: 173px;
    height: 75px;
    line-height: 75px;
    z-index: 101;
}

.tt-header .logo img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.tt-logo-module {
    padding-bottom: 12px;
    border-bottom: 1px solid #eaeaea;
}


/*general navigation*/

.tt-header .main-nav > ul {
    list-style: none;
    margin-bottom: 0;
}

.tt-header .main-nav > ul > li > a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #949494;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tt-header .main-nav > ul > li.active > a,
.tt-header .main-nav > ul > li:hover > a {
    color: #30373b;
}

.tt-header .main-nav > ul > li > ul {
    list-style: none;
}

.tt-header .main-nav > ul > li > ul > li > ul {
    list-style: none;
}


/*nav-more*/

.tt-header .nav-more {
    display: inline-block;
    font-size: 0;
    padding-top: 22px;
    margin-left: 27px;
}

.tt-header .nav-more.social-module {
    padding-top: 32px;
}

.tt-header .nav-more.social-module li {
    margin-right: 20px;
}

.tt-header .nav-more.social-module li:last-child {
    margin-right: 0;
}

.tt-header .nav-more.social-module li a {
    font-size: 16px;
    color: #949494;
}

.tt-header .nav-more.social-module li a:hover {
    color:#30373b;
}

.tt-header .nav-more.contact-details-module {
    padding-top: 29px;
}

.tt-header .contact-details-module .detail-module,
.tt-header .contact-details-module .detail-module a {
    display: inline-block;
    color:#949494;
}

.tt-header .contact-details-module .detail-module i {
    margin-right: 10px;
    color:#86bb6b;
}

/*cmn-toggle-switch*/

.cmn-toggle-switch:focus {
    outline: none;
}

.tt-header .cmn-toggle-switch {
    display: none;
    position: relative;
    float: right;
    margin-top: 30px;
    padding: 0;
    width: 30px;
    height: 17px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 101;
}

.tt-header .cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    height: 3px;
    background: #949494;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tt-header .cmn-toggle-switch::before,
.tt-header .cmn-toggle-switch::after {
    content: "";
    position: absolute;
    display: block;
    top: 7px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #949494;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tt-header .cmn-toggle-switch::before {
    margin-top: -7px;
}

.tt-header .cmn-toggle-switch::after {
    margin-top: 7px;
}

.tt-header .cmn-toggle-switch.active::before {
    -webkit-transform: translateY(7px) rotate(45deg);
    -moz-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.tt-header .cmn-toggle-switch.active::after {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -moz-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.tt-header .cmn-toggle-switch.active span {
    opacity: 0;
}

.tt-header-margin {
    height: 80px;
}

.centered-logo-bottom-menu .tt-header-margin {
    height: 160px;
}

@media (min-width:992px) {
    .tt-header .top-inner {
        position: relative;
        float: left;
        padding: 10px 0;
    }
    .tt-header .toggle-block {
        display: block!important;
        float: right;
    }
    .tt-header .toggle-block .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .tt-header .main-nav {
        display: inline-block;
        vertical-align: top;
    }
    .tt-header .main-nav > ul > li {
        position: relative;
        float: left;
        padding: 30px 0;
    }
    .tt-header .main-nav > ul > li > a {
        display: block;
        position: relative;
        padding: 4px 21px;
    }
    .tt-header .main-nav > ul > li > a:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
    }
    .tt-header .main-nav > ul > li:last-child > a:before {
        display: none;
    }
    /*2nd level*/
    .tt-header .main-nav > ul > li > ul {
        display: block!important;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 216px;
        background: #fff;
        margin-top: -26px;
        margin-left: -108px;
        visibility: hidden;
        opacity: 0;
        border: 1px solid #eaeaea;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        transform: translateY(40px);
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .tt-header .main-nav > ul > li:hover > ul {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    .tt-header .main-nav > ul > li > ul > li {
        border-bottom: 1px solid #f1f1f1;
        text-align: left;
    }
    .tt-header .main-nav > ul > li > ul > li > a {
        display: block;
        position: relative;
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
        color: #949494;
        letter-spacing: 0.3px;
        padding: 17px 19px 14px 19px;
    }
    .tt-header .main-nav > ul > li > ul > li > a:hover {
        background: #7ab55c;
        color: #fff;
    }
    /*3rd level*/
    .tt-header .main-nav > ul > li > ul > li {
        position: relative;
    }
    .tt-header .main-nav > ul > li > ul > li > ul {
        display: block!important;
        position: absolute;
        top: -1px;
        left: 100%;
        width: 216px;
        background: #fff;
        border: 1px solid #eaeaea;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        transform: translateY(40px);
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .tt-header .main-nav > ul > li:nth-last-child(1) > ul > li > ul,
    .tt-header .main-nav > ul > li:nth-last-child(2) > ul > li > ul {
        left: auto;
        right: 100%;
        margin-right: 5px;
    }
    .tt-header .main-nav > ul > li > ul > li:hover > ul {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    .tt-header .main-nav > ul > li > ul > li > ul > li {
        border-bottom: 1px solid #f1f1f1;
        text-align: left;
    }
    .tt-header .main-nav > ul > li > ul > li > ul > li > a {
        display: block;
        position: relative;
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
        color: #949494;
        letter-spacing: 0.3px;
        padding: 17px 19px 14px 19px;
    }
    .tt-header .main-nav > ul > li > ul > li > ul > li > a:hover {
        background: #7ab55c;
        color: #fff;
    }
    .tt-header .menu-toggle {
        display: none;
    }
}

@media (max-width:991px) {
    .tt-header .logo {
        height: 46px;
        line-height: 52px;
    }
    .tt-header {
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
    }
    .tt-header .top-inner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 95px;
        padding: 13px 15px;
        background: #fff;
        z-index: 1;
        -webkit-box-shadow: 0px 1px 2px 0px #eaeaea;
        -moz-box-shadow: 0px 1px 2px 0px #eaeaea;
        box-shadow: 0px 1px 2px 0px #eaeaea;
    }
    .tt-header .top-inner {
        margin-top: 0px;
        float: none;
    }
    .tt-header .top-inner.text-center {
        text-align: left;
    }
    .tt-header .top-inner-container {
        width: 750px;
        padding-right: 15px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .tt-header .cmn-toggle-switch {
        display: block;
    }
    .tt-header .toggle-block {
        display: none;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        overflow: auto;
        background: #fff;
        padding: 110px 15px 30px 15px;
        -webkit-box-shadow: 0px 1px 2px 0px #eaeaea;
        -moz-box-shadow: 0px 1px 2px 0px #eaeaea;
        box-shadow: 0px 1px 2px 0px #eaeaea;
    }
    .tt-header .main-nav {
        margin-bottom: 25px;
    }
    .tt-header .main-nav > ul > li {
        padding: 13px 0;
    }
    .tt-header .main-nav > ul > li > a {
        display: block;
    }
    .tt-header .main-nav > ul > li.parent > ul {
        display: none;
        background: #282f39;
        margin-top: 10px;
    }
    .tt-header .main-nav > ul > li.parent > a {
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
    }
    .tt-header .main-nav > ul > li > ul > li > a {
        display: inline-block;
        font-size: 13px;
        line-height: 15px;
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.5px;
        padding: 12px 22px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .tt-header .main-nav > ul > li > a {
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
    }
    .tt-header .main-nav > ul > li > ul {
        display: none;
        background: #171f2b;
        padding: 15px 0;
        margin-top: 15px;
    }
    .tt-header .main-nav > ul > li > ul > li > a {
        display: block;
        position: relative;
    }
    .tt-header .main-nav > ul > li > ul > li > a:hover {
        color: #7ab55c;
    }
    .tt-header .main-nav > ul > li > ul > li > ul {
        display: none;
        list-style: none;
        padding: 10px 0 5px 0;
    }
    .tt-header .main-nav > ul > li > ul > li > ul > li {
        margin-bottom: 10px;
    }
    .tt-header .main-nav > ul > li > ul > li > ul > li > a {
        display: block;
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
        color: #787878;
        letter-spacing: 0.3px;
        padding: 2px 0;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .tt-header .main-nav > ul > li > ul > li > ul > li > a:hover {
        color: #fff;
    }
    .tt-header .menu-toggle,
    .tt-header .menu-toggle-inner {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 13px 16px;
        margin-top: -20px;
    }
    .tt-header-margin {
        height: 70px;
    }
    .tt-header .nav-more,
    .tt-header .nav-more.social-module {
        margin-left: 0;
        padding-top: 0;
        float: none;
    }
}

@media (max-width:767px) {
    .tt-header .top-inner-container {
        width: 100%;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* 06 - TT-HEADER STYLE-2 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-header.style-2 {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tt-header.style-2.stick {
    background: #368aa9;
}

.tt-header.style-2 .main-nav > ul > li > a {
    color: #fff;
    opacity: 0.6;
}

.tt-header.style-2 .main-nav > ul > li.active > a,
.tt-header.style-2 .main-nav > ul > li:hover > a {
    opacity: 1;
}

.tt-header.style-2 .nav-more .c-btn {
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 1);
}

.tt-header.style-2 .nav-more .c-btn:before,
.tt-header.style-2 .nav-more .c-btn:after {
    background: #fff;
}

.tt-header.style-2 .nav-more .c-btn:hover {
    color: #000;
}

.tt-header.style-2 .cmn-toggle-switch::before,
.tt-header.style-2 .cmn-toggle-switch::after {
    background: #fff;
}

.tt-header.style-2 .cmn-toggle-switch span {
    background: #fff;
}

@media (max-width:991px) {
    .tt-header.style-2 .top-inner {
        background: #368aa9;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .tt-header.style-2 .toggle-block {
        background: #368aa9;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* 07 - TT-SWIPER */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-arrow-left.type-1,
.tt-arrow-right.type-1 {
    width: 48px;
    height: 50px;
    background: #fff;
    border: 1px solid rgba(148, 148, 148, 0.2);
    font-size: 16px;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tt-arrow-left.type-1 {
    border-left: 0;
}

.tt-arrow-right.type- {
    border-right: 0;
}

.tt-arrow-left.type-1 span,
.tt-arrow-right.type-1 span {
    line-height: 48px;
}

.tt-arrow-left.type-1:hover,
.tt-arrow-right.type-1:hover {
    background: #7ab55c;
    color: #fff;
}

.tt-arrow-left.type-2,
.tt-arrow-right.type-2 {
    width: 32px;
    height: 32px;
    background: #fff;
    border: 1px solid #eaeaea;
    font-size: 12px;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tt-arrow-left.type-2 span,
.tt-arrow-right.type-2 span {
    line-height: 30px;
}

.tt-arrow-left.type-2:hover,
.tt-arrow-right.type-2:hover {
    background: #7ab55c;
    color: #fff;
}

.tt-arrow-left.pos-1,
.tt-arrow-right.pos-1 {
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tt-arrow-left.pos-2,
.tt-arrow-right.pos-2 {
    display: inline-block;
    position: static;
    margin-top: 30px;
}


/*pagination*/

.pagination.type-1 .swiper-pagination-switch {
    border-color: #7ab55c;
    margin: 0 7px;
}

.pagination.type-1 .swiper-active-switch {
    background: #7ab55c;
    border-color: #7ab55c;
}

.pagination.pos-1 {
    position: absolute;
    bottom: 15px;
    left: 0;
}

@media (max-width:767px) {
    .swiper-container .pagination {
        margin-top: 30px;
    }
}


/*swiper-margin*/

.tt-swiper-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.tt-swiper-margin .swiper-slide > * {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width:767px) {
    .tt-swiper-margin {
        margin-left: 0;
        margin-right: 0;
    }
    .tt-swiper-margin .swiper-slide > * {
        margin-left: auto;
        margin-right: auto;
    }
}

.tt-swiper-shadow {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
}

.tt-swiper-arrow-center {
    text-align: center;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* 08 - TT-MSLIDE */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-mslide {
    position: relative;
    height: inherit;
    text-align: center;
    -webkit-box-shadow: 0px 2px 0px 0px #eaeaea;
    -moz-box-shadow: 0px 2px 0px 0px #eaeaea;
    box-shadow: 0px 2px 0px 0px #eaeaea;
}

.tt-mslide .container {
    height: inherit;
}

.tt-mslide-inner {
    position: relative;
    height: inherit;
    padding-top: 100px;
}

.tt-mslide .c-h1 {
    margin-bottom: 14px;
}

.tt-mslide .simple-text {
    margin-bottom: 34px;
}

.tt-mslide-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 370px;
}

.tt-mslide-img img {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tt-mslide-img.type-2 {
    height: 454px;
}

@media (max-width:1199px) {
    .tt-mslide-img {
        height: 300px;
    }
    .tt-mslide-img.type-2 {
        height: 350px;
    }
}

@media (max-width:991px) {
    .tt-mslide-img {
        height: 250px;
    }
    .tt-mslide-img.type-2 {
        height: 300px;
    }
    .tt-mslide-inner {
        padding-top: 50px;
    }
}

@media (max-width:767px) {
    .tt-mslide-img {
        height: 160px;
    }
    .tt-mslide-img.type-2 {
        height: 160px;
    }
    .tt-mslide-inner {
        padding-top: 30px;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* 09 - TT-MSLIDE-2 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-mslide-2 {
    position: relative;
    height: inherit;
    background: #fff;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
}

.tt-mslide-2:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fdfdfe;
}

.tt-mslide-2 .container {
    height: inherit;
}

.tt-mslide-2-table {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
}

.tt-mslide-2-cell {
    display: table-cell;
    vertical-align: middle;
}

.tt-mslide-2-title {
    color: #30373b;
    margin-bottom: 10px;
}

.tt-mslide-2-cell .simple-text {
    margin-bottom: 32px;
}

.tt-mslide-2-cell .c-input-3-wrapper {
    margin-bottom: 20px;
}

.tt-mslide-2-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    max-height: 100%;
    max-width: 50%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    width: auto;
    height: auto;
    padding-top: 80px;
}

.tt-mslide-2-arrow {
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(48, 55, 59, 0.15);
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    color: rgba(48, 55, 59, 0.3);
    margin-left: 40px;
}

.tt-mslide-2-arrow span {
    line-height: 48px;
}

.tt-mslide-2.right:before {
    left: auto;
    right: 0;
}

.tt-mslide-2.right .tt-mslide-2-img {
    left: auto;
    right: 50%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.tt-mslide-2.right .tt-mslide-2-arrow {
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: 40px;
}

@media (max-width:991px) {
    .tt-mslide-2-table {
        height: 700px;
        padding: 50px 0;
    }
}

@media (max-width:767px) {
    .tt-mslide-2-arrow {
        display: none;
    }
    .tt-mslide-2-table {
        height: 500px;
    }
    .tt-mslide-2-img {
        opacity: 0.5;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* 10 - TT-MSLIDE-3 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-mslide-3 {
    position: relative;
    height: inherit;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, 0.2);
}

.tt-mslide-3 .container {
    height: inherit;
}

.tt-mslide-3-table {
    display: table;
    position: relative;
    width: 100%;
    height: 720px;
    padding: 100px 0;
}

.tt-mslide-3-cell {
    display: table-cell;
    vertical-align: middle;
}

.tt-mslide-3 .c-h1 {
    margin-bottom: 12px;
}

.tt-mslide-3 .simple-text {
    margin-bottom: 30px;
}

.tt-mslide-3-img {
    position: absolute;
    left: 75%;
    top: 50%;
    max-height: 100%;
    max-width: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
}

.tt-mslide-3.right .tt-mslide-3-img {
    left: 25%;
}

@media (max-width:991px) {
    .tt-mslide-3-table {
        height: 700px;
        padding: 50px 0;
    }
}

@media (max-width:767px) {
    .tt-mslide-3 {
        text-align: center;
    }
    .tt-mslide-3-table {
        height: 500px;
    }
    .tt-mslide-3-img {
        position: static;
        margin: 0 auto 15px auto;
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* 11 - TT-TITLE */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-title {
    text-align: center;
}

.tt-title-cat {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: #949494;
    text-transform: uppercase;
    margin-bottom: 9px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* 12 - TT-TITLE-2 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-title-2 {
    position: relative;
}

@media (min-width:992px) {
    body.theme-orange .tt-header .main-nav > ul > li > ul > li > a:hover,
    body.theme-orange .tt-header .main-nav > ul > li > ul > li > ul > li > a:hover {
        background: #ef662f;
    }
}

@media (max-width:991px) {
    .tt-header .main-nav > ul > li > ul > li > a:hover {
        color: #ef662f;
    }
}

.tt-header .main-nav > ul > li > a{font-size:18px;    font-weight: 500;color:#F7038E; }
.tt-header .main-nav > ul > li:hover > a {color: #F7038E;}
.tt-header .nav-more {padding-top:20px;margin-left:17px;}


.tt-header .logo {width: 173px;height: 75px;}

.tt-header{
    position:relative;
}

.c-btn.type-2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 0;
    color: #7ab55c;
    border: 2px solid #7ab55c;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.c-btn.type-2 span, .c-btn.type-2 input {
    color: #F7038E;
}

.c-btn.type-2 span, .c-btn.type-2 input {
    display: inline-block;
    padding: 8px 29px 7px 29px;
}

.c-btn.type-2 {
    color: #F7038E;
    border: 2px solid #F7038E;
    line-height: 25px;
    font-size: 18px;
}
.tt-header .main-nav > ul > li > a {
    font-size: 18px;
    font-weight: 500;
    color: #F7038E;
}

@media (min-width: 992px)
{
    .tt-header .main-nav > ul > li {
        position: relative;
        float: left;
        padding: 30px 0;
    }
}
.tt-header .nav-more {
    padding-top: 20px;
    margin-left: 17px;
    display: inline-block;
    font-size: 0;
}

.tt-header .main-nav > ul > li > a {
    font-size: 18px !important;
    font-weight: 500;
    color: #F7038E;
}

.c-btn.type-2 span, .c-btn.type-2 input {
    display: inline-block;
    padding: 8px 29px 7px 29px;
    line-height: 34px;
}


.c-btn.type-2:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
}
.c-btn.type-2::before {
    background: none;
    transition: none;
}
.c-btn.type-2 {
    color: #F7038E;
    border: 2px solid #F7038E;
    line-height: 25px;
    font-size: 18px;
}
.tt-header{
    min-height:96px;
}

.tt-header .nav-more {
    padding-top: 20px;
    margin-left: 17px;
}
.container.pink{
    box-shadow:none;
}

.c-h1.color-2,
.c-h2.color-3,
.c-h3.color-3,
.c-h4.color-3,
.c-h5.color-3,
.c-h6.color-3 {
    color: rgba(255, 255, 255, 0.8);
}
.tt-footer-list {
    list-style: none;
}
.simple-text h5, .c-h5 {
    font-weight: 600;
    margin-top:0px;
}
.simple-text h5, .c-h5 {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 10px;
}
.marg-lg-b10 {
    height: 10px;
}
.widget ul {
    list-style: none;
}
.tt-footer-list li {
    margin-bottom: 12px;
}
.tt-footer-list a {
    font-size: 14px;
    /*line-height: 15px;*/
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}
.tt-footer {
    padding-top: 45px;
    text-align:left;
}

.marg-lg-b10 {
    height: 10px;
}

.marg-lg-b80 {
    height: 55px;
}
.tt-footer-copy {
    border-top: 1px solid #40474a;
    text-align: none;
    padding: 18px 0;
}

.simple-text.color-4, .simple-text.color-4 p {
    color: rgba(255, 255, 255, 0.7);
}
.simple-text.size-5 {
    font-size: 12px;
    line-height: 18px;
}

.simple-text.color-4, .simple-text.color-4 p {
    color: rgba(255, 255, 255, 0.7);
}
.tt-footer-list li {
    margin-bottom: 13px;
}
body{
    font-family: 'Roboto';
}

.tt-header{
    z-index: 9999;
}
@media (max-width: 991px)
{
    .tt-header .main-nav > ul > li {
        padding: 13px 0;
    }
}



@media (max-width: 991px)
{
    .tt-header .main-nav > ul > li {
        padding: 0 ;
        display: block;
        width: 100%;
    }

    .tt-header .nav-more{
        padding-top:0;
    }

    .tt-header .main-nav {
        margin-bottom: 0;
    }

}
.tt-header .cmn-toggle-switch span, .tt-header .cmn-toggle-switch::before, .tt-header .cmn-toggle-switch::after{
    background:#F7038E;
}

nav ul li.login {
    border: 2px solid #F7038E;
    border-radius: 4px;

}

.c-btn.type-2 {
    padding: 7px 7px 7px;
}

.c-btn.type-2:hover{
    border: 2px solid #F7038E;

}

.sidebar ul.service-list
{
    overflow: hidden;
}

@media (max-width: 768px)
{
    #service-octopus {
         padding: 0;
    }
}


section.about .blue-bg {background-image: url("/images/top-bar-bg.png");}

.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-banner .cc-btn:last-child{min-width:140px}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{-ms-flex:1;flex:1}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}

    
