$boja:#F7038E;
$purple: #25136F;
/*RESPONSIVE STYLES*/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}
.column {
	position:relative;
	/* padding-bottom: 10px; */ /*dodato*/
	margin-bottom: 10px!important; /*dodato*/

   -webkit-transition:all 0.4s ease;
   -moz-transition:all 0.4s ease;
   -o-transition:all 0.4s ease;
   transition:all 0.4s ease;
}

@media (max-width:46rem) {
	.column { margin-bottom:20px; width: 98%; margin: 0 auto;}
	nav { height:auto;}
}
@media (max-width: 760px) {
	/* .column.fourth { width:80%; margin:0 auto; display:inline-block;} */	
	.column.fifth { width:30%; margin:0 auto; display:inline-table;}	
}

@media (max-width: 560px) {
	.column.fourth { width:95%; margin:0 auto;}	
}

@media (min-width: 46rem) {
  .column {
    float: left;
    margin-left: 0%; /*sve je bilo 1rem*/
    margin-right: 0%;
	  box-sizing:border-box;
  }
  
  .column.full { width: 100; }
  .column.two-thirds { width: 50%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.third.poslednji { width: 100%; }
  .column.fourth { width: 50%; }
  .column.three-fourths { width: 50%!important; }
  .column.fifth { width: 50%; }
  .column.flow-opposite { float: right; }  
}
@media (min-width: 56rem) {
  .column {
    float: left;
    padding-left: 10px; /*sve je bilo 1rem*/
    padding-right: 10px;
	  box-sizing:border-box;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 64.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.third.poslednji { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.three-fourths { width: 73%!important; }
  .column.fifth { width: 20%; }
  .column.flow-opposite { float: right; }  
}

.row { position:relative; padding: 30px; padding: 10px 5px 0 5px; /*width: 75%;*/
width: 100%; max-width: 1200px; margin: 0 auto; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease;
   
}
.row p, column.full li{
   line-height: 1.5em;
}

/*RESPONSIVE STYLES END*/


    
.container.pink {
    background-color: $boja;
    box-shadow: 0 0 30px 0 rgba($boja,0.3);
    
    * {
        color: white;
    }
}

section.about {
    padding-bottom: 0;
    
    
    .container {
        padding: 40px 60px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        
        h3 {
            font-size: 24px;
        }
        
        .column {
            
            @media(min-width:992px){
                padding-right: 40px;
            }
        }
        
        .ico-holder {
            /* height: 60px; */
            padding: 24px 24px 24px 0;
            text-align: left;
            
            img {
                /* width: 100%; */
                height: 40px;
                width: auto;
            }
        }
        
        h4 {
            font-size: 17px;
            padding-bottom: 14px;
        }
        
        p {
            opacity: 0.8;
            
         @media(min-width:992px){
                max-width: 70%;
            }
        }
        
    }
    
    .blue-bg {
        width: 100%;
        background-color: $purple;
        padding-bottom: 100px;
        /* background-image: url(../images/pattern.png); */
        
        
        .container.pink {
            border-radius: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: rgba($boja,0.9);
            
        }
    }
}

