<template id="modal-box-template">
    <div @click="closeModal" v-show="isModalOpen" class="Modal u-overlay">
        <div @click.stop="" v-show="isModalOpen" class="Modal__container">
            <header class="Modal__header">
                <h1>
                    @{{ title }}
                </h1>
            </header>

            <div class="Modal__content">
                <slot></slot>
            </div>

            <footer class="Modal__footer"></footer>
        </div>
    </div>
</template>
<script type="text/babel">
    export default{
        template: '#modal-box-template',
        props: ['id', 'title'],
        created: function() {
            this.closeModal();
        },
        computed: {
            isModalOpen: function() {
                return this.$root[this.id + 'IsOpen'];
            }
        },

        methods: {
            closeModal: function() {
                this.$root.$set(this.id + 'IsOpen', false);
            }
        }
    }
</script>