<template>
  <div class="main-form">
    <form @submit.prevent="submit">
      <div class="input column fourth services">
        <div class="select">
          <div class="select-styled" @click="showServices = !showServices"
               v-text="services[search.serviceCategory] || 'Select Service'"
               :class="{active: showServices}"
          >Select Service
            </div>
          <ul class="select-options" :class="{visible: showServices}" @click="showServices = false">
            <li rel="hide" @click="search.serviceCategory = ''">Select Service</li>
            <li v-for="(service, serviceId) in services" :rel="serviceId" @click="search.serviceCategory = serviceId" v-text="service">End of Tenancy Cleaning</li>
          </ul>
        </div>
      </div>
      <div class="input column fourth date">
        <datepicker  :disabled="disabledTime" v-model="search.date"></datepicker>
      </div>
      <div class="input column fourth time">
        <div class="select">
          <div class="select-styled" @click="showTime = !showTime"
               v-text="times[search.time] || 'Est. Arrival Time'"
               :class="{active: showTime}"
          >Est. Arrival Time</div>
          <ul class="select-options" :class="{visible: showTime}" @click="showTime = false">
            <li rel="hide" @click="search.time = ''">Est. Arrival Time</li>
            <li @click="search.time = timeId" v-for="(time, timeId) in times" v-text="time"></li>
          </ul>
        </div>
      </div>
      <div class="input column fourth zipcode">
        <input v-model="search.postcode" type="text" placeholder="Enter Postcode">
      </div>
      <div class="submit">
        <input type="submit" value="">
        <div class="submit-btn"><img src="/images/search.svg" alt="search"><span>Compare Now</span></div>
      </div>
    </form>
  </div>

</template>
<style>
  .visible{
    display: block;
  }
</style>
<script type="text/babel">
  import moment from 'moment';
  export default {
    data() {
      return {
        showServices: false,
        showTime: false,
        disabledTime: {
          to: new Date()
        },
        showCities:false,
        search: {
          serviceCategory: '',
          date: '',
          postcode: '',
        },
        services: {
          tenancy: 'End of Tenancy Cleaning',
          carpet: 'Carpet Cleaning',
          deep: 'Deep Cleaning'
        },
        cities: {}
      }
    },
    props: ['session_category', 'session_date', 'session_time', 'session_postcode', 'all_cities'],
    computed: {
      times() {
        let out = {};
        for(let i = 8; i <= 17; i++) {
          // creates format 08:00 - 09:00
          out[i] = ('0' + i).substr(-2) + ':00 - ' + ('0' + (i + 1)).substr(-2) + ':00'
        }
        return out;
      }
    },
    methods: {
      serialize(obj) {
        let str = [];
        for(var p in obj){
          str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        }
        return str.join("&");
      },
      submit() {

        window.location = '/compare?'+this.serialize({
                  serviceCategory: this.search.serviceCategory,
                  date: moment(this.search.date).format('Y-MM-DD'),
                  postcode: this.search.postcode,
                  time: this.search.time,
                  bedrooms: 1,
                  bathrooms: 1
        });
      },
      getParams() {

        let search = location.search.substring(1);
        try{
          return JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}');
        }
        catch(e) {
          return {}
        }
      }
    },
    mounted() {

      let params = this.getParams();
      // Different parameter, because it is redirecting with changed name
      // - this is bad, should return same names (in ReservationController)
      this.search.serviceCategory = params.serviceCategory || this.session_category || '';
      this.search.time = params.serviceTime || this.session_time || '';
      this.search.date = params.serviceDate || this.session_date ||  moment().add(1, 'days').toDate();
      this.search.postcode = params.postCode || this.session_postcode || '';
    }
  }
</script>
